@import '../../colors.scss';

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  max-width: 100px;
  background: $logo;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
}