@import '../../colors.scss';

.top-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 50px;
  & .navigation {
    display: flex;
    max-width: 400px;
    width: 100%;
    & .nav-bar {
      width: 100%;
      background-color: $nav-bar;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }
    & .link-home {
      text-transform: uppercase;
      text-decoration: none;
      background-color: #ffffff80;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      border-radius: 10px;
      color: #000;
      transition: 0.3s;
      margin-left: 10px;
      &:hover {
        background-color: #fff;
      }
    }
  }
}
