@import '../../colors.scss';

footer {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  background-color: $footer;
  & .copy,
  .developed {
    color: $white;
  }
  & .developed p {
    font-size: 12px;
  }
  & .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 100%;
  }
}
